:root {
  --anim-name-old: next-page-out;
  --anim-name-new: next-page-in;
  --color: transparent;
}

.mainContentWrapper {
  background-color: rgba(212, 182, 240, 0.1);
  overflow-y: scroll;
  max-height: 100dvh;
  text-align: center;
  position: relative;
  flex-basis: 70dvw;
}

@keyframes next-page-out {
  to {
    transform: translateX(-100%);
  }
}
@keyframes next-page-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes prev-page-out {
  to {
    transform: translateX(100%);
  }
}
@keyframes prev-page-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes filtered-page-out {
  to {
    transform: translateY(-100%);
  }
}
@keyframes filtered-page-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#main {
  view-transition-name: main;
  min-height: calc(100dvh - 84px);
  padding-block-start: 84px;
}

::view-transition-group(main) {
  overflow: hidden;
}

::view-transition-old(main) {
  animation-name: var(--anim-name-old);
  animation-duration: 0.4s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
}

/* have to add the below to a class .something #main::before */
/* then add/remove the class from js */
#main::before {
  content: "";
  position: absolute;
  inset: 15vh 0 0 -2px;
  border-left: 1px dashed var(--color);
}

::view-transition-new(main) {
  animation-name: var(--anim-name-new);
  animation-duration: 0.4s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
}

#mainTitle {
  color: hsl(300, 99%, 60%);
  font-size: 3rem;
  font-weight: 700;
  padding-block: 1rem 0.5rem;
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
span {
  font-size: 2rem;
}

#ifNull {
  color: hsl(300, 99%, 60%);
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  view-transition-name: ifNull;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline: 1rem;
  margin-block-start: 0.35rem;
}

.filteredWrapper {
  view-transition-name: filtered-results;
}

.row {
  color: hsl(300, 99%, 60%);
  display: flex;
  justify-content: space-between;
  background-color: rgba(212, 182, 240, 0.05);
  box-shadow: -3px 1px 10px 0px hsl(300, 99%, 60%, 0.3),
    inset 3px 1px 10px 0px hsl(300, 99%, 60%, 0.2);
  padding: 0.75rem 0.5rem 0.5rem;
  align-items: center;
  border-radius: 5px;
}
.title {
  width: 45%;
}
.artist {
  width: 25%;
}
.location {
  width: 25%;
}

.size-warning {
  display: none;
  font-size: 1.5rem;
  color: white;
  padding-inline: 1rem;
}

@media screen and (max-width: 1300px) {
  .size-warning {
    display: grid;
    width: 30ch;
    place-content: center;
    margin-inline: auto;
    height: 100vh;
    text-align: center;
  }
  #main,
  .menuWrapper,
  .sidebar {
    display: none;
  }
}
