.mainContentWrapper {
  background-color: rgba(212, 182, 240, 0.1);
  overflow-y: scroll;
  max-height: 100dvh;
  text-align: center;
  position: relative;
  flex-basis: 70dvw;
}

#mainTitle {
  color: hsl(300, 99%, 60%);
  font-size: 3rem;
  font-weight: 700;
  padding-block: 1rem 0.5rem;
}
span {
  font-size: 2rem;
}

#ifNull {
  color: hsl(300, 99%, 60%);
  font-size: 3rem;
  margin-top: 22rem;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline: 1rem;
  margin-block-start: 0.35rem;
}

.row {
  color: hsl(300, 99%, 60%);
  display: flex;
  justify-content: space-between;
  background-color: rgba(212, 182, 240, 0.05);
  box-shadow: -3px 1px 10px 0px hsl(300, 99%, 60%, 0.3),
    inset 3px 1px 10px 0px hsl(300, 99%, 60%, 0.2);
  padding: 0.75rem 0.5rem 0.5rem;
  align-items: center;
  border-radius: 5px;
}
.title {
  width: 45%;
}
.artist {
  width: 25%;
}
.location {
  width: 25%;
}

.size-warning {
  display: none;
  font-size: 1.5rem;
  color: white;
  padding-inline: 1rem;
}

@media screen and (max-width: 1300px) {
  .size-warning {
    display: grid;
    width: 30ch;
    place-content: center;
    margin-inline: auto;
    height: 100vh;
    text-align: center;
  }
  #main,
  .menuWrapper,
  .sidebar {
    display: none;
  }
}
