.sidebar {
  background-color: rgba(212, 182, 240, 0.1);
  width: 15%;
  min-height: 100dvh;
  padding-inline: 1rem;
  text-align: center;
  border-right: 1px solid hsl(300, 99%, 60%);
}

.sidebar h1 {
  font-size: 2.5rem;
  border-bottom: 1px solid hsl(300, 99%, 60%);
  color: hsl(300, 99%, 60%);
  padding-block: 1.5rem;
  line-height: 1.2;
}

.formatSelectionWrapper {
  border-top: 1px solid hsl(300, 99%, 60%);
  border-bottom: 1px solid hsl(300, 99%, 60%);
  padding-block: 1rem;
  /* display: flex;
  flex-direction: column;
  gap: 0.75em; */
  color: hsl(300, 99%, 60%);
}

.formatSelectionWrapper h2 {
  margin-bottom: 0.25em;
}

.formatSelectBtn {
  width: 75%;
  /* margin-inline: auto; */
  padding-block: 1rem;
  background-color: rgb(50, 22, 77);
  color: hsl(300, 99%, 60%);
  font-size: 1.125em;
  margin-block-end: 0.5rem;
}

.fmtBtnActive {
  background-color: rgb(212, 182, 240);
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

.totalsWrapper {
  margin-block: 1rem;
}

.totalsWrapper h3 {
  text-align: center;
  color: hsl(300, 99%, 60%);
}

.totals {
  color: hsl(300, 99%, 60%);
  font-size: 1.125em;
  display: grid;
  gap: 0.2em;
}

.lastUpdate {
  color: hsl(300, 99%, 60%);
  margin-block-end: 1em;
  font-size: 0.85;
}

.pg-ctrls {
  color: hsl(300, 99%, 60%);
  margin-block-start: 1rem;
  font-size: 1.25rem;
}

.perPage {
  color: hsl(300, 99%, 60%);
  font-size: 0.85rem;
  margin-block-start: 0.25rem;
}

.paginationControls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prev,
.next {
  color: hsl(300, 99%, 60%);
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  user-select: none;
  outline: 1px solid hsl(300, 99%, 60%);
  margin-block-start: 1rem;
  padding: 2rem 1rem;
  background-color: hsl(300, 99%, 6%);
}
