.menuWrapper h2 {
  color: hsl(300, 99%, 60%);
  margin-bottom: 0.75rem;
}

.menuWrapper input {
  color: hsl(300, 99%, 60%);
  background: rgb(30, 30, 30);
  border: 1px solid hsl(300, 99%, 60%);
  width: 100%;
  padding: 0.35rem 0.5rem 0.25rem;
  font-size: 1.25rem;
  border-radius: 5px;
}

fieldset {
  margin-block-end: 1rem;
  padding: 0.5rem 1rem;
  margin-inline: auto;
  width: fit-content;
  border-color: hsl(300, 99%, 60%);
}

.input-wrapper {
  display: flex;
  margin-block: 0.25rem;
  justify-content: right;
  gap: 1rem;
}

.input-wrapper label,
.searchTypeText {
  color: hsl(300, 99%, 60%);
  font-size: 1.125rem;
}

.input-wrapper input {
  width: 1rem;
}

#search {
  margin-block-end: 0.5rem;
}

p + .input-wrapper {
  justify-content: center;
}

.searchBtn {
  padding: 0.75rem 1.5rem;
  margin-block-start: 0.75rem;
  color: hsl(300, 99%, 60%);
  background-color: rgb(50, 22, 77);
  margin-block-end: 1.5rem;
}

.searchP {
  color: hsl(300, 99%, 60%);
  font-size: 0.85rem;
}

.searchBtn + p {
  padding-block-start: 1rem;
  border-top: 1px solid hsl(300, 99%, 60%);
  margin-block-end: 0.75rem;
  font-size: 1.125rem;
}

.searchBtn + p ~ p {
  margin-block-end: 0.25rem;
}
